In [3]:
import numpy as np
import pandas as pd

#modules for statistics
import math
import statistics
from scipy import stats

/var/folders/19/_33mhsx56q96g7nyjyp76kyc0000gn/T/ipykernel_58459/93716344.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
belize_listings_path = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings_path)
# belize_df.head()
belize_df.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2791,48283996,Magical Island,17994012,Ronald,Belize,Belize Islands,17.945690,-87.944620,Entire home/apt,1054,3,0,NaN,NaN,2,347
2792,48287613,"The Luxury Suite - Corozal, Bz- 3Bdr/2bthr CASA1",375769845,Michael,Corozal,Corozal,18.374630,-88.400190,Entire home/apt,401,3,0,NaN,NaN,2,302
2793,48296096,Lagoon front apartment w/shared pool - two mi...,76414486,Vacasa Belize,Belize,Belize Islands,17.934580,-87.955220,Entire home/apt,252,1,0,NaN,NaN,204,364
2794,48296978,Beachfront Poolside Condo,15308338,Alexandra,Belize,Belize Islands,17.930010,-87.957120,Entire home/apt,242,3,0,NaN,NaN,4,364
2795,48332221,Standard Room - San Ignacio Resort Hotel,60399527,San Ignacio,Cayo,Cayo,17.154127,-89.069689,Private room,226,1,0,NaN,NaN,5,365

In [2]:

!pip3 install scipy

Defaulting to user installation because normal site-packages is not writeable
Collecting scipy
  Downloading scipy-1.12.0-cp39-cp39-macosx_12_0_arm64.whl (31.4 MB)
     |████████████████████████████████| 31.4 MB 13.1 MB/s eta 0:00:01
Requirement already satisfied: numpy<1.29.0,>=1.22.4 in /Users/kinethiam/Library/Python/3.9/lib/python/site-packages (from scipy) (1.26.4)
Installing collected packages: scipy
Successfully installed scipy-1.12.0
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

In [7]:
airbnb_df = belize_df.groupby('neighbourhood')
airbnb_df

In [8]:
airbnb_df.count()

,id,name,host_id,host_name,neighbourhood_group,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood,,,,,,,,,,,,,,,
Belize Islands,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303,864,864,1303,1303
Belize Mainland,271,271,271,271,271,271,271,271,271,271,271,174,174,271,271
Cayo,505,505,505,505,505,505,505,505,505,505,505,330,330,505,505
Corozal,65,65,65,65,65,65,65,65,65,65,65,33,33,65,65
Orange Walk,28,28,28,28,28,28,28,28,28,28,28,16,16,28,28
Stann Creek Islands,12,12,12,12,12,12,12,12,12,12,12,5,5,12,12
Stann Creek Mainland,565,565,565,565,565,565,565,565,565,565,565,362,362,565,565
Toledo Mainland,47,47,47,47,47,47,47,47,47,47,47,26,26,47,47

In [30]:
airbnb_group = airbnb_df[["price","number_of_reviews","availability_365"]]
airbnb_group.agg({'price':'mean','availability_365':'max','number_of_reviews':'sum'})

                            price  availability_365  number_of_reviews
neighbourhood
Belize Islands         399.442824               365              22995
Belize Mainland        288.273063               365               4105
Cayo                   205.847525               365               7356
Corozal                156.553846               365                492
Orange Walk            122.035714               365                415
Stann Creek Islands   1136.166667               365                 69
Stann Creek Mainland   456.994690               365               4786
Toledo Mainland        222.978723               365                194